<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="FintechBankEntities" connectionString="metadata=res://*/BankModel.csdl|res://*/BankModel.ssdl|res://*/BankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BO24OOP;initial catalog=FintechBank;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="FintechBankEntities1" connectionString="metadata=res://*/Models.FintechBankModel.csdl|res://*/Models.FintechBankModel.ssdl|res://*/Models.FintechBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BO24OOP;initial catalog=FintechBank;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>